{{ chapter('Chapitre 2', 'chapitre2', 2) }}

<div class="slide">
{{ part('Première partie ') }}
<h3>Présentation</h3>
<p>
    Lorem ipsum sin dolor en almet
</p>
</div>

<div class="slide">
{{ part('Deuxième partie') }}
<h3>Blha</h3>
<p>
    Lorem ipsum sin dolor en almet
</p>
</div>
